---
layout: default
---
<div class="wrapper">
  <header class="post-header">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      {% for tag in page.tags %}
      <span class="tag">{{ tag }}</span>
      {% endfor %}
    </p>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <hr />
  <p>
    <a class="arrow-link arrow-link--prev" href="{{ '/' | relative_url }}">back to all posts</a>
  </p>
</div>
